

#map-div{
    background-color: white; 
    margin: 0 auto ;
    display: table;
}

h1 {
    color: white;
}

.column{
    display: table-cell;
}
.column:hover{
    background-color: darkgray;
    border:solid red 1px;
    cursor:hand;
}
.redBackground{
    background-color: red;
}
#mapMenu{
    background-color: white;
    width:600px;
    border:solid lightblue 3px;
    margin: 0 auto ;
}
#gameWrapper{
    margin: 0 auto;
    text-align: center;
}
#gameMenuTitle{
    margin-top: 0px;
}
.menuButtons{
    display: inline-block;
    font-family: Aerospace, sans-serif;
}
@font-face {
    font-family:"Aerospace";
    src: url("../game/Aerospace.ttf") /* TTF file for CSS3 browsers */
}

#Towers{
    border:solid black 3px;
}
#otherButtons{
    border:solid black 3px;
}
body{
    background: url('../game/background.jpg');
}

.tower-button{
    flex: 1;
}

.tower1{
    height: 50px;
    width: 50px;
    background: url('../assets/tower1.png');
}

.tower2{
    height: 50px;
    width: 50px;
    background: url('../assets/tower2.png');
}

.tower3{
    height: 50px;
    width: 50px;
    background: url('../assets/tower3.png');
}

.tower4{
    height: 50px;
    width: 50px;
    background: url('../assets/tower4.png');
}
.tower5{
    height: 50px;
    width: 50px;
    background: url('../assets/tower5.png');
}

.buildable {
    height: 50px;
    width: 50px;
    background: url('../assets/buildable.png');
}

.path {
    width: 50px;
    height: 50px;
}
.monsterPic{
    width: 50px;
    height: 50px;
    background: url('../assets/monster.png');
}

.monsterDiv {
    position: absolute;
}