#map-div{
    margin: 0 auto;
    display: table;
}

.row{
    
}

.column{
    border:solid black 1px;
    display: table-cell;
}
.column:hover{
    background-color: darkgray;
    border:solid red 1px;
    cursor:hand;
}
.redBackground{
    background-color: red;
}
#mapMenu{
    width:600px;
    border:solid black 3px;
    margin: 0 auto ;
}
#gameWrapper{
    margin: 0 auto;
    text-align: center;
    border: 5px solid black;
    background-color: white;
    zoom: 0.75;
    -moz-transform: scale(0.75);
}
#gameMenuTitle{
    margin-top: 0px;
}
.menuButtons{
    display: inline-block;
    width:23%;
    font-family: Aerospace, sans-serif;
}
@font-face {
    font-family:"Aerospace";
    src: url("../game/Aerospace.ttf") /* TTF file for CSS3 browsers */
}

#Towers{
    border:solid black 3px;
}
#otherButtons{
    border:solid black 3px;
}
body{
    background: url('../game/background.jpg');
}

.buildable {
    height: 50px;
    width: 50px;
    background: url('../assets/buildable.png');
}

.path {
    width: 50px;
    height: 50px;
}

