#play-button{
    text-align: center;
    width: 20%;
    font-family: Aerospace, sans-serif;
    font-size: 50px;
    padding: 20px;
    color:#ffffff;
    background-color: black;
}
#button-div{
    text-align: center;
}
@font-face {
    font-family:"Aerospace";
    src: url("game/Aerospace.ttf") /* TTF file for CSS3 browsers */
}
#start-screen{
    background: url('game/background.jpg');
}
